{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Мы - команда профессионалов, занимающаяся созданием головных уборов уже несколько лет. </p>
        <p>Наша миссия - сделать так, чтобы каждый, кто к нам обратится, получил не просто шапочку, шляпку, берет или кепку, но и настоящее настроение. Мы превращаем привычные головные уборы в яркие аксессуары, с которыми Вы будете выглядеть стильно и неповторимо.</p>
        <p>Мы придерживаемся концепции "Ручной работы", каждый из нас - настоящий мастер в своем деле. Мы тщательно подбираем материалы для создания наших головных уборов, следим за последними тенденциями мира моды, чтобы создавать нечто уникальное.</p>
        <p>Каждый головной убор - это произведение искусства. Мы любим свою работу и ценим каждого клиента. Мы готовы прислушаться к Вашим пожеланиям и создать головной убор Вашей мечты.</p>
        <p>Мы делаем все возможное, чтобы наши клиенты остались довольны нашими головными уборами. Ставим перед собой задачу создавать удобные, качественные и стильные аксессуары, которые будут радовать своих владельцев многие годы.</p>
        <p>Мы гарантируем, что каждый головной убор, созданный нашей командой, - это настоящий шедевр, который Вы сможете носить с гордостью. </p>



    </div>
{% endblock %}